<h1>User stats</h1>
<ul>
  <li>User total boards played</li>
  <li>User total flags captured</li>
  <li>Anything we can think of</li>
  <li>Possibly some graphs for presentation</li>
  <li>small tables representing solo and team stats</li>
</ul>
<%= @current_user.username %>