// Place all the styles related to the Auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "reset";
@import "layout";

.form-container {
  width: 200px;
}

.login-form {
  font-size: x-large;

  * {
    display: block;
  }

  label,
  .button {
    text-align: center;
  }

  input {
    width: 100%;
    margin: 5% 0;
    text-align: left;
    height: 2em;
    cursor: text;
    font-size: medium;
  }

  .button {
    cursor: pointer;
  }
}
