// Place all the styles related to the Auth controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "reset";
@import "layout";

.form-container {
  width: 325px;
  padding: 5em 2em;
  height: 400px;
  border-radius: 45px;
  box-shadow: 5px 5px 30px -8px gray;
}

.login-form {
  font-size: x-large;

  * {
    display: block;
  }

  label,
  .button {
    text-align: center;
  }

  input {
    width: 100%;
    margin: 5% 0;
    text-align: left;
    height: 2em;
    cursor: text;
    font-size: medium;
  }

  .button {
    cursor: pointer;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    transition: ease 0.4s;

    &:hover {
      transform: scale(1.05);
      box-shadow: 6px 6px 15px -5px rgba(0, 0, 0, 0.75);
    }
  }
}
