.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-container {
  background-color: $primary-white;
  height: 9vh;
}

.sidebar-container {
  width: 240px;
  background-color: $primary-blue;
  color: $primary-white;
}

.layout-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: $primary-backgroung-grey;
}
